* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat";
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 500px;
  /* margin: 10rem auto; */
  border-radius: 10px;
  overflow: hidden;

}

.picture-div {
  /* height: 100%; */
  width: 50%;
}

#card {
  display: flex;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  /* width: 50%; */
  /* border-radius: 6px 0 0 6px; */
}

#text {
  padding: 0 1rem;
  width: 50%;

}

#title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

p {
  color: hsl(228, 12%, 48%);
  margin: 1rem 0;
  font-size: 14px;
}

h1 {
  color: hsl(212, 21%, 14%);
  margin: 1rem 0;
  font-family: "Fraunces";
}

#div-container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

#first-div {
  font-family: "Fraunces";
  color: hsl(158, 36%, 37%);
  font-size: 1.5rem;
  padding-right: 1rem;
}

#second-div {
  color: hsl(228, 12%, 48%);
  text-decoration-line: line-through;
  font-size: 0.75rem;
}

#button-wrapper {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin: 2rem 0;
}

svg {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

#button-wrapper:hover {
  background-color: hsl(158, 25%, 24%);
}
